@charset "UTF-8";
/*Proyecto JoaEzisystem*/
/***********************/
/*GOOGLE FONT*/
/*Estilos google Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&display=swap");
/*Estilos google Fonts para h2*/
@import url("https://fonts.googleapis.com/css2?family=Andada+Pro:ital,wght@1,500&family=Merriweather:ital,wght@1,300&display=swap");
/*Import google Font*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,500;0,700;1,200;1,400;1,700&family=Roboto:ital,wght@0,300;0,500;0,900;1,300;1,500;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;700&family=Roboto+Mono:ital,wght@0,300;0,600;1,600&display=swap");
/*
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
*/
/*VARIABLES*/
/*GLOBALES*/
/*GRID Configuracion No lo vamos a usar */
/********************/
.padreGrid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  background-color: #fafefe;
  justify-content: center;
  align-content: center; }

/*************************************/
/*FLEX Configuracion */
/********************/
.flexColum {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center; }

.flexColumNoWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-wrap: nowrap; }

.flexFila {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-wrap: wrap; }

.flexFilaNoWrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center; }

.flexFila02 {
  display: flex;
  flex-direction: row;
  justify-content: center; }

/*************************************/
/*Estilos Titulos y Subtitulos*/
/******************************/
h1 {
  color: #29b6f6;
  margin-left: 3em; }

h2 {
  color: #0a0a0a;
  text-align: left;
  font-size: 2em;
  font-family: "Andada Pro", serif;
  font-family: "Merriweather", serif; }

h3 {
  color: #29b6f6;
  margin-left: 10px;
  font-size: 2em; }

h4 {
  color: #2948f6;
  margin-left: 10px;
  text-transform: lowercase;
  font-size: 1.2em; }

/*Normalizado estilos iniciales*/
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  /*Por default es 16px*62.5= tamano a 10px*/
  font-family: "Roboto", sans-serif; }

ul {
  list-style-type: none;
  padding: 0; }

a {
  text-decoration: none; }

/*PARCIAL*/
/*Inicio Encabezado de página*/
/*****************************/
header {
  /*  height: 80px; */
  height: auto;
  background-color: #d2e6e5;
  /*  grid-area: 1 / 1 / 2 / 13; */ }

.navegacion {
  /*  font-size:0 ; */
  height: 100%;
  width: 90%;
  margin: 0 auto;
  padding: 1rem 0; }
  .navegacion__logo00 {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center; }
    .navegacion__logo00__logoImg00 {
      background-image: url("../img/logoJoaEzis00.svg");
      height: 60px;
      width: 60px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover; }
  @media screen and (max-width: 1800px) {
    .navegacion__menu {
      font-size: 1.8em;
      font-weight: bold; } }
  @media screen and (max-width: 1400px) {
    .navegacion__menu {
      font-size: 1.8em;
      font-weight: bold; } }
  @media screen and (max-width: 1200px) {
    .navegacion__menu {
      font-size: 1.4em; } }
  @media screen and (max-width: 992px) {
    .navegacion__menu {
      font-size: 1.2em; } }
  .navegacion a:nth-child(2) {
    text-decoration: none;
    font-size: 2.2em;
    font-family: "Roboto", sans-serif;
    color: #64f1f5;
    text-shadow: 1px 1px 2px #404040;
    font-weight: 400; }

/*Encab adaptado clases bootstrap 5*/
/***********************************/
.navbar-nav .nav-item:hover .nav-link {
  background-color: #60bebe;
  color: #64f1f5; }

/* Set the border color to the desired color */
.navbar-light .navbar-toggler {
  border-color: #1c1e1d; }

/*Fin Encabezado de página*/
/*****************************/
/*Pïe de página*/
/***************/
footer {
  background-color: rgba(32, 34, 34, 0.66);
  border-style: solid;
  border-width: 1px;
  margin-top: 10px;
  width: 100%;
  height: 150px;
  justify-content: space-between;
  padding: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-wrap: wrap; }
  @media screen and (max-width: 567px) {
    footer {
      height: 250px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      align-items: center;
      flex-wrap: nowrap; } }

.footArea00 {
  height: auto;
  width: 20%;
  display: flex;
  justify-content: center;
  flex-direction: column; }
  @media screen and (max-width: 567px) {
    .footArea00 {
      width: 40%; } }
  .footArea00__h3 {
    color: #29b6f6;
    margin-left: 10px;
    font-size: 2em; }
  .footArea00__p {
    color: white;
    margin-left: 10px; }

.footArea01 {
  height: auto;
  width: 60%;
  padding: 5px;
  display: flex;
  justify-content: center; }
  @media screen and (max-width: 567px) {
    .footArea01 {
      width: 20%; } }
  .footArea01__logoImg01 {
    background-image: url("../img/logoJoaEzis00.svg");
    height: 60px;
    width: 60px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }

.footArea02 {
  height: auto;
  width: 20%;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: row; }
  @media screen and (max-width: 567px) {
    .footArea02 {
      width: 40%; } }
  .footArea02__areaLogo {
    height: 30px;
    width: 30px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
  .footArea02__logoFacebook00 {
    background-image: url("../img/facebook.svg"); }
  .footArea02__logoTwitter00 {
    background-image: url("../img/twitter.svg"); }
  .footArea02__logoInstagram00 {
    background-image: url("../img/instagram.svg"); }
  .footArea02__logoLinkedin00 {
    background-image: url("../img/linkedin.svg"); }

/*VISTAS*/
/*Vista index.html*/
/******************/
.h01Seccion011 {
  background-color: #c7cecd36;
  border-style: solid;
  border-width: 1px;
  margin-top: 10px;
  margin-bottom: 10px; }

.h01Seccion01 {
  width: 100%;
  height: 550px;
  background-image: url(../img/imagen02.jpeg);
  background-size: cover;
  background-color: #c7cecd;
  border-style: solid;
  border-width: 1px;
  margin-top: 10px;
  margin-right: 20px; }
  .h01Seccion01__area00 {
    margin-top: 50px;
    margin-left: 20px;
    width: 60%;
    padding: 10px;
    background-color: rgba(108, 146, 202, 0.075);
    box-shadow: 5px 5px 5px 5px #666666;
    border-radius: 20px; }
    @media screen and (max-width: 567px) {
      .h01Seccion01__area00 {
        width: 90%; } }
    .h01Seccion01__area00__pTexto02 {
      font-size: 6em;
      text-align: justify;
      text-transform: none;
      padding: 10px;
      color: #64f1f5;
      text-shadow: 2px 4px 5px #404040;
      font-weight: 400;
      line-height: 1; }
      @media screen and (max-width: 768px) {
        .h01Seccion01__area00__pTexto02 {
          font-size: 4em; } }
    .h01Seccion01__area00__pTexto03 {
      font-size: 2.4em;
      text-align: justify;
      text-transform: none;
      padding: 12px;
      line-height: 1.2;
      color: #0a0a0b; }
      @media screen and (max-width: 768px) {
        .h01Seccion01__area00__pTexto03 {
          font-size: 1.8em; } }
  .h01Seccion01__area01 {
    width: 40%;
    height: 50px;
    border-radius: 1rem;
    background-color: rgba(108, 146, 202, 0.075); }
    @media screen and (max-width: 567px) {
      .h01Seccion01__area01 {
        width: 10%; } }

.h01Seccion02 {
  margin-top: 15px; }
  .h01Seccion02__fondo01 {
    width: 430px;
    background-color: #e5ebea;
    border-style: solid;
    border-width: 1px;
    margin: 5px;
    border-radius: 1rem;
    padding: 10px;
    overflow: hidden; }
    .h01Seccion02__fondo01__imagen02 {
      background-image: url(../img/sistemasWebN1V00.jpeg);
      background-size: cover;
      margin: 10px auto;
      width: 85%;
      height: 300px;
      /* width: 85%;
    height: 300px; */
      padding: 20px;
      background-color: azure;
      border-radius: 1rem; }
    .h01Seccion02__fondo01__pTexto02 {
      font-size: 1.5em;
      text-align: justify;
      text-transform: none;
      padding: 5px;
      /*  padding: 10px; */
      margin-left: 10px; }
    .h01Seccion02__fondo01__imagen03 {
      background-image: url(../img/escaneo3DN1V00.jpg);
      background-size: cover;
      margin: 10px auto;
      width: 85%;
      height: 300px;
      /* width: 85%;
    height: 300px; */
      padding: 20px;
      background-color: azure;
      border-radius: 1rem; }
    .h01Seccion02__fondo01__pTexto03 {
      font-size: 1.5em;
      text-align: justify;
      text-transform: none;
      padding: 5px;
      /*  padding: 10px; */
      margin-left: 10px; }
    .h01Seccion02__fondo01__imagen04 {
      background-image: url(../img/fabricacion3DN1V02.jpg);
      background-size: cover;
      margin: 10px auto;
      width: 85%;
      height: 300px;
      /* width: 85%;
    height: 300px; */
      padding: 20px;
      background-color: azure;
      border-radius: 1rem; }
    .h01Seccion02__fondo01__pTexto04 {
      font-size: 1.5em;
      text-align: justify;
      text-transform: none;
      padding: 5px;
      /*  padding: 10px; */
      margin-left: 10px; }

/*Vista sistemaWeb.html*/
/**********************/
.h02Seccion01 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-wrap: wrap; }
  .h02Seccion01__fondo05 {
    width: 550px;
    height: 650px;
    background-color: #c7cecd;
    border-style: solid;
    border-width: 1px;
    margin: 5px;
    border-radius: 1rem;
    padding: 10px; }
    .h02Seccion01__fondo05__area03 {
      margin: 10px auto;
      width: 90%;
      padding: 5px;
      background-color: rgba(236, 244, 243, 0.948);
      box-shadow: 1px 1px 1px 1px #666666;
      /*box-shadow: inset 0 0 20px 5px #fff;*/
      border-radius: 10px; }
      .h02Seccion01__fondo05__area03__pTexto01 {
        font-size: 1.5em;
        text-align: justify;
        text-transform: capitalize;
        padding: 10px;
        margin-left: 10px; }
    .h02Seccion01__fondo05__imagen02 {
      background-image: url(../img/escaneo3DN2V00.jpg);
      background-size: cover;
      margin: 10px auto;
      width: 500px;
      height: 300px;
      padding: 20px;
      background-color: azure;
      border-radius: 1rem; }
    .h02Seccion01__fondo05__imagen03 {
      background-image: url(../img/escaneo3DN2V00.jpg);
      background-size: cover;
      margin: 10px auto;
      width: 500px;
      height: 300px;
      padding: 20px;
      background-color: azure;
      border-radius: 1rem; }

/*Vista digitalizacion3D.html*/
/****************************/
.h03Seccion01 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-wrap: wrap; }
  .h03Seccion01__fondo05 {
    width: 550px;
    height: 700px;
    background-color: #c7cecdaf;
    border-style: solid;
    border-width: 1px;
    margin: 5px;
    border-radius: 1rem;
    padding: 10px; }
    .h03Seccion01__fondo05__area03 {
      margin: 10px auto;
      width: 90%;
      padding: 20px;
      background-color: rgba(236, 244, 243, 0.948);
      box-shadow: 1px 1px 1px 1px #666666;
      /*box-shadow: inset 0 0 20px 5px #fff;*/
      border-radius: 10px; }
      .h03Seccion01__fondo05__area03__pTexto01 {
        font-size: 1.5em;
        text-align: justify;
        text-transform: capitalize;
        padding: 10px;
        margin-left: 10px; }
    .h03Seccion01__fondo05__imagen02 {
      background-image: url(../img/fabricacion3DN1V02.jpg);
      background-size: cover;
      margin: 10px auto;
      width: 90%;
      height: 300px;
      padding: 20px;
      background-color: azure;
      border-radius: 1rem; }
    .h03Seccion01__fondo05__imagen03 {
      background-image: url(../img/fabricacion3DN1V02.jpg);
      background-size: cover;
      margin: 10px auto;
      width: 90%;
      height: 300px;
      padding: 20px;
      background-color: azure;
      border-radius: 1rem; }

/*Vista fabricacion3D.html*/
/**********************/
.h04Seccion01 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-wrap: wrap; }
  .h04Seccion01__fondo05 {
    width: 550px;
    height: 650px;
    background-color: #c7cecd;
    border-style: solid;
    border-width: 1px;
    margin: 5px;
    border-radius: 1rem;
    padding: 10px; }
    .h04Seccion01__fondo05__area03 {
      margin: 10px auto;
      width: 90%;
      padding: 5px;
      background-color: rgba(237, 240, 245, 0.337);
      box-shadow: 1px 1px 1px 1px #666666;
      /*box-shadow: inset 0 0 20px 5px #fff;*/
      border-radius: 10px; }
      .h04Seccion01__fondo05__area03__pTexto01 {
        font-size: 1.5em;
        text-align: justify;
        text-transform: capitalize;
        padding: 10px;
        margin-left: 10px; }
    .h04Seccion01__fondo05__imagen02 {
      background-image: url(../img/imagen01.png);
      background-size: cover;
      margin: 10px auto;
      width: 500px;
      height: 300px;
      padding: 20px;
      background-color: azure;
      border-radius: 1rem; }
    .h04Seccion01__fondo05__imagen03 {
      background-image: url(../img/imagen01.png);
      background-size: cover;
      margin: 10px auto;
      width: 500px;
      height: 300px;
      padding: 20px;
      background-color: azure;
      border-radius: 1rem; }

.h04Footer {
  /* grid-area: 6 / 1 / 7 /13;  */ }

/*Inicio Vista Página Contacto*/
/******************************/
.padreGrid05 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(9, 90px);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  /* height: 600px; */
  background-color: rgba(99, 106, 106, 0.331);
  justify-content: center;
  align-content: center; }

.h05Seccion01 {
  grid-area: 1 / 2 / 9 /9;
  width: 100%;
  background-image: url(../img/imagen01.png);
  background-size: cover;
  opacity: 0.8;
  border-style: solid;
  border-width: 5x;
  margin-top: 30px;
  z-index: 2; }
  .h05Seccion01__centFormulario {
    margin: 10px auto;
    width: 90%; }
  .h05Seccion01__elementFormCentrado {
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px; }
  .h05Seccion01__labelFormato00 {
    color: #f3f2ed;
    font-size: 25px;
    text-align: center;
    text-transform: uppercase; }
  .h05Seccion01__labelFormato01 {
    color: #f3f2ed;
    font-size: medium; }
  .h05Seccion01__inputFormato01 {
    padding: 0;
    margin-left: 15px;
    width: 60px;
    height: 20px;
    color: #f3f2ed;
    font-size: 7em; }
  .h05Seccion01__texTarea, .h05Seccion01__nombreApellido {
    text-transform: capitalize;
    font-size: 1.3em;
    padding: 0 10px;
    margin: 0;
    width: 400px;
    height: 30px; }
  .h05Seccion01__texTarea1 {
    text-transform: capitalize;
    font-size: 1.2em;
    padding: 0 10px;
    margin: 0;
    width: 400px;
    height: 100px; }

.h05Seccion02 {
  grid-area: 1 / 6 / 8 / 11;
  z-index: 1;
  width: 100%;
  /*   height: 450px; */
  /*  background-image: url(../img/imagen02.jpeg); */
  background-size: cover;
  background-color: white;
  /*  border-style: solid; */
  /*  border-width: 1px; */
  /*  margin: 10px; */
  margin-top: 15px;
  margin-right: 20px; }

/* Estilo Area TELEFONO,NUESTRA UBICACION, HORARIO*/
.h05Seccion03 {
  grid-area: 8 /3 / 9 / 12;
  background-color: rgba(116, 113, 113, 0.824);
  width: 100%;
  border-style: solid;
  border-width: 1px;
  box-shadow: 1px 1px 1px 1px #fcf8f8;
  height: 150px;
  margin-top: 15px;
  z-index: 3;
  justify-content: space-around; }
  .h05Seccion03 h5 {
    font-size: large;
    font-weight: 700; }
  .h05Seccion03__seccionArea00 {
    height: auto;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white; }
    .h05Seccion03__seccionArea00__logoLlamar {
      /*  background-image: url("../img/logoJoaEzis00.svg");
            height: 60px;
            width: 60px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover; */ }
    .h05Seccion03__seccionArea00__logoUbicacion {
      /*  background-image: url("../img/logoJoaEzis00.svg");
            height: 60px;
            width: 60px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover; */ }
    .h05Seccion03__seccionArea00__logoHorarios {
      /*  background-image: url("../img/logoJoaEzis00.svg");
            height: 60px;
            width: 60px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover; */ }

.h05Footer {
  /* grid-area: 10 / 1 / 11 / 13;  */ }

/*Fin Vista Página Contacto*/
/************************/
/*PARCIAL*/
/* @import "./parcial/mediaqueries"; */
