/*Estilos google Fonts*/
/* @import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&display=swap"); */

/*Estilos google Fonts para h2*/
/* @import url("https://fonts.googleapis.com/css2?family=Andada+Pro:ital,wght@1,500&family=Merriweather:ital,wght@1,300&display=swap"); */

/*Import google Font*/
/* @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,500;0,700;1,200;1,400;1,700&family=Roboto:ital,wght@0,300;0,500;0,900;1,300;1,500;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;700&family=Roboto+Mono:ital,wght@0,300;0,600;1,600&display=swap"); */

/*
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
*/

/*Normalizado estilos iniciales*/
/* *,*::before,*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; 
  font-family: "Roboto", sans-serif;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
}
 */

/*Estilos Titulos y Subtitulos*/
/*****************************/
/* h1 {
  color: #29b6f6;
  margin-left: 20px;

}
h2 {
  color: #0a0a0a;
  text-align: center;
  font-size: 2.5em;
  font-family: "Andada Pro", serif;
  font-family: "Merriweather", serif;
}
h3 {
  color: #29b6f6;
  margin-left: 10px;
  font-size: 2em;
}
h4 {
  color: #2948f6;
  margin-left: 10px;
  text-transform: lowercase;
  font-size: 1.2em;
}
 */

/*GRID Configuracion No lo vamos a usar */
/********************/
/* .padreGrid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  background-color: rgb(250, 254, 254);
  justify-content: center;
  align-content: center;
} */

/*************************************/

/*FLEX Configuracion */
/*Conf Global*/
/********************/
/* .flexColum {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.flexFila {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-wrap: wrap; 
}
.flexFilaNoWrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.flexFila02 {
  display: flex;
  flex-direction: row;
  justify-content:center;
 
}
 */






/*Hoja index        */
/*******************/

/* .h01Seccion011{
  background-color: #c7cecd36;
  border-style: solid;
  border-width: 1px;
  margin-top:10px;
  margin-bottom: 10px;
} */



/* .h01Seccion01{

  width: 100%;
  height: 550px;
  background-image: url(../img/imagen02.jpeg);
  background-size: cover;
  background-color: #c7cecd;
  border-style: solid;
  border-width: 1px;
  margin-right: 20px;
}

 .h01Seccion01 .area00 {
  margin-top: 50px;
  margin-left: 20px;
  width: 60%;
  padding: 10px;
  background-color: rgba(108, 146, 202, 0.075);
  box-shadow: 5px 5px 5px 5px rgb(102, 102, 102);
  border-radius: 20px;
}

.h01Seccion01 .area01 {
  width:40%;
  border-radius: 1rem;
  background-color: rgba(108, 146, 202, 0.075);
}

.h01Seccion01 .area00 .pTexto02 {
  font-size: 6em;
  text-align: justify;
  text-transform: none;
  padding: 10px;
  color: #64f1f5;
  text-shadow: 2px 4px 5px rgba(64,64,64,1);
  font-weight: 400;
  line-height: 1;

}
.h01Seccion01 .area00 .pTexto03 {
  font-size: 2.4em;
  text-align: justify;
  text-transform: none;
  padding: 12px;
  line-height: 1.2;
  color: #0a0a0b;
}

 */


/* .h01Seccion02{
   margin-top: 15px;
 }

.h01Seccion02 .fondo01 {
  width: 430px;
  background-color: #e5ebea;
  border-style: solid;
  border-width: 1px;
  margin: 5px;
  border-radius: 1rem;
  padding: 10px;
  overflow: hidden; 
}

.h01Seccion02 .fondo01 .imagen02 {
  background-image: url(../img/sistemasWebN1V00.jpeg);
  background-size: cover;
  margin: 10px auto;
  width: 85%;
  height: 300px;
  padding: 20px;
  background-color: azure;
  border-radius: 1rem;
}

.h01Seccion02 .fondo01 .pTexto02 {
  font-size: 1.5em;
  text-align: justify;
  text-transform: capitalize;
  padding: 10px;
  margin-left: 10px;
}

.h01Seccion02 .fondo01 .imagen03 {
  background-image: url(../img/escaneo3DN1V00.jpg);
  background-size: cover;
  margin: 10px auto;
  width: 85%;
  height: 300px;
  padding: 20px;
  background-color: azure;
  border-radius: 1rem;
}

.h01Seccion02 .fondo01 .pTexto03 {
  font-size: 1.5em;
  text-align: justify;
  text-transform: capitalize;
  padding: 10px;
  margin-left: 10px;
}

.h01Seccion02 .fondo01 .imagen04 {
  background-image: url(../img/fabricacion3DN1V02.jpg);
  background-size: cover;
  margin: 10px auto;
  width: 85%;
  height: 300px;
  padding: 20px;
  background-color: azure;
  border-radius: 1rem;
}

.h01Seccion02 .fondo01 .pTexto04 {
  font-size: 1.5em;
  text-align: justify;
  text-transform: capitalize;
  padding: 10px;
  margin-left: 10px;
}

.h01Footer{
}
 */


/*Hoja SistemaWeb*/

/* .h02Seccion01{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-wrap: wrap; 

}

.h02Seccion01 .fondo05{
  width: 550px;
  height:650px;
  background-color: #c7cecd;
  border-style: solid;
  border-width: 1px;
  margin: 5px;
  border-radius: 1rem;
  padding: 10px;
}

.h02Seccion01 .fondo05 .area03{
  margin: 10px auto;
  width: 90%;
  padding: 5px;
  background-color: rgba(236, 244, 243, 0.948);
  box-shadow: 1px 1px 1px 1px rgb(102, 102, 102);
  border-radius: 10px;
}

.h02Seccion01 .fondo05 .area03 .pTexto01{
  font-size: 1.5em;
  text-align: justify;
  text-transform: capitalize;
  padding: 10px;
  margin-left: 10px;
}
.h02Seccion01 .fondo05 .imagen02{
  background-image: url(../img/escaneo3DN2V00.jpg);
  background-size: cover;
  margin: 10px auto;
  width: 500px;
  height: 300px;
  padding: 20px;
  background-color: azure;
  border-radius: 1rem;
}


.h02Footer{
}
 */


/*Hoja digitalizacion 3D*/
/* .h03Seccion01{

}

.h03Seccion01 .fondo05{
  width: 550px;
  height: 700px;
  background-color: #c7cecdaf;
  border-style: solid;
  border-width: 1px;
  margin: 5px;
  border-radius: 1rem;
  padding: 10px;
}

.h03Seccion01 .fondo05 .area03{
  margin: 10px auto;
  width: 90%;
  padding: 20px;
  background-color: rgba(236, 244, 243, 0.948);
  box-shadow: 1px 1px 1px 1px rgb(102, 102, 102);
  border-radius: 10px;
}

.h03Seccion01 .fondo05 .area03 .pTexto01{
  font-size: 1.5em;
  text-align: justify;
  text-transform: capitalize;
  padding: 10px;
  margin-left: 10px;
}
.h03Seccion01 .fondo05 .imagen02{
  background-image: url(../img/fabricacion3DN1V02.jpg);
  background-size: cover;
  margin: 10px auto;
  width: 90%;
  height: 300px;
  padding: 20px;
  background-color: azure;
  border-radius: 1rem;
}

.h03Footer{
}
 */



/*Hoja fabricacion 3D*/
/* .h04Seccion01{
}

.h04Seccion01 .fondo05{
  width: 550px;
  height: 700px;
  background-color: #c7cecd;
  border-style: solid;
  border-width: 1px;
  margin: 5px;
  border-radius: 1rem;
  padding: 10px;
}

.h04Seccion01 .fondo05 .area03{
  margin: 10px auto;
  width: 90%;
  padding: 20px;
  background-color: rgba(237, 240, 245, 0.337);
  box-shadow: 1px 1px 1px 1px rgb(102, 102, 102);
  border-radius: 10px;
}

.h04Seccion01 .fondo05 .area03 .pTexto01{
  font-size: 1.5em;
  text-align: justify;
  text-transform: capitalize;
  padding: 10px;
  margin-left: 10px;
}
.h04Seccion01 .fondo05 .imagen02{
  background-image: url(../img/imagen01.png);
  background-size: cover;
  margin: 10px auto;
  width: 90%;
  height: 300px;
  padding: 20px;
  background-color: azure;
  border-radius: 1rem;
}

.h04Footer{
}
 */



/*Hoja Contacto*/

/* .padreGrid05 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(9, 90px);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  height: 600px; 
  background-color: rgba(99, 106, 106, 0.331);
  justify-content: center;
  align-content: center;
} */

/* .h05Seccion01{
  grid-area: 1 / 2 / 9 /9; 
  width: 100%;
  background-image: url(../img/imagen01.png);
  background-size: cover;
  opacity: 0.8;
  border-style: solid;
  border-width: 5x;
  margin-top:30px;
  z-index:2;
} */




/*Estilo Formulario*/

/* .h05Seccion01__centFormulario {
  margin: 10px auto;
  width:90%;
} */

/* .h05Seccion01__elementFormCentrado {
  padding-left: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
} */


 /* input{
  padding: 0 10px;
  margin: 0;
  width: 400px;
  height: 30px
} */

 /* select{
  padding: 0 10px;
  margin: 0;
  width: 400px;
  height: 30px
} */


/*  textarea {
  padding: 0 10px;
  margin: 0;
  width: 400px;
  height: 100px
  
} */

 /* .h05Seccion01__texTarea1
 {
  text-transform: capitalize;
  font-size: 1.2em;
  padding: 0 10px;
  margin: 0;
  width: 400px;
  height: 100px
}  */



/* Estilo texTarea nombreApellido*/
/* .h05Seccion01__texTarea,
.h05Seccion01__nombreApellido {
  text-transform: capitalize;
  font-size: 1.2em;
  
} */

/* .h05Seccion01__inputFormato01 {
  padding: 0;
  margin-left: 25px;
  width: 60px;
  color: rgb(243, 242, 237);
  font-size: 70px;

} */

/* .h05Seccion01__labelFormato00 {
  color: rgb(243, 242, 237);
  font-size: 25px;
  text-align: center;
  text-transform: uppercase;
} */

/* .h05Seccion01__labelFormato01 {
  color: rgb(243, 242, 237);
  font-size: medium;
} */




/* .Botton{

  font-size: 1.4em;
} */

/* .h05Seccion02{
  grid-area: 1 / 6 / 8 / 11;
  z-index:1;
  width: 100%;
  
    background-size: cover;
    background-color:white;
   
    margin-top:15px;
    margin-right: 20px;
} */


/* estilo contacto TELEFONO,NUESTRA UBICACION, HORARIO*/
/* .h05Seccion03{
  grid-area:8 /3 / 9 / 12;
  background-color:rgba(116, 113, 113, 0.824);
  width: 100%;
  border-style: solid;
  border-width: 1px;
  box-shadow: 1px 1px 1px 1px rgb(252, 248, 248);
  height: 150px;
  margin-top: 15px;
  z-index:3; 
  justify-content: space-around;
}

.h05Seccion03 h5{
  font-size: large;
  font-weight: 700;
}

.h05Seccion03 .seccionArea00 {
  height: auto;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

 .h05Seccion03 .seccionArea00 .logoLlamar{

}
.h05Seccion03 .seccionArea00 .logoUbicacion{

}
.h05Seccion03 .seccionArea00 .logoHorarios{

} */

.h05Footer{
  /* grid-area: 10 / 1 / 11 / 13;  */
}


/*_______HEADER______*/
/*Barra de Navegacion*/

/* header {
  height: auto;
  background-color: rgb(210, 230, 229);
} */

/*
.navegacion {
 
  height: 100%;
  width: 90%;
  margin: 0 auto;
  padding: 1rem 0;
 
}

.navegacion_logo00 {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content:space-around;
  align-items: center;
 
  
}

.navegacion  a:nth-child(2){
  text-decoration: none;
  font-size: 2.2em;
  font-family: "Roboto", sans-serif;
  color: #64f1f5;
  text-shadow: 1px 1px 2px rgba(64,64,64,1);
  font-weight: 400;
}

.navegacion_logo00_logoImg00 {
  background-image: url("../img/logoJoaEzis00.svg");
  height: 60px;
  width: 60px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

*/

.navegacion .menu {
  width: 80%;
  height: 100%;
  font-size: 1.6em;
 /*  text-align: center; */
 /*  padding-top: 10px; */
  font-family: "Roboto", sans-serif;
  /* background-color: rgb(190, 96, 179); */
}

/* .navegacion .menu > li {
  display: inline-block;
  margin: 0.5rem 0.1rem;
  position: relative;
} */

/* .navegacion .menu > li > a {
  color: black; 
  display: inline-block;
  padding: 0.6rem;
  transition: ease 0.3s;
} */

/* .navegacion .menu > li:hover > a {
  background-color: rgb(96, 190, 190);
  color: rgb(23, 7, 245);
  
} */


/*Encab adaptado clases bootstrap 5*/
/***********************************/

/*  .navbar-nav  .nav-item:hover .nav-link {
  background-color: rgb(96, 190, 190);
  color: #64f1f5;
  
 } */

 /* Set the border color to the desired color */
 /* .navbar-light .navbar-toggler {
  border-color: rgb(28, 30, 29);
} */



/* 
.subMenu {
  display: none;
  text-align: left;
  background-color: rgb(203, 212, 224);
  }

li:hover > .subMenu {
  display: block;
}

.subMenu > li {
  position: relative;
}

.subMenu > li > a {
  display: block;
  width: 100%;
  padding: 0.6rem;
  transition: ease 0.3s;
}

.subMenu > li:hover > a {
  background-color: rgb(96, 190, 190);
  color: rgb(12, 27, 238);
}

.subAbajo {
  position: absolute;
  width: 100%;
}

.subIzq {
  position: absolute;
  left: 98%;
  top: 15%;
}
 */
/*---------------------------------*/





/* Estilo footer ----Podemos Borrar*/
/* footer {
  background-color:rgb(32 34 34 / 66%);
  border-style: solid;
  border-width: 1px;
  margin-top: 10px;
  width: 100%;
  height: 150px;
  justify-content: space-between;
  padding: 50px;
}

.footer__Area00 {
  height: auto;
  width: 25%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.footer__Area00__p{
  color: white;
}

.footer__Area00__h3{
  color: #29b6f6;
  margin-left: 10px;
  font-size: 2em;
}


.footer__Area01 {
  height: auto;
  width: 60%;
  padding: 5px;
  display: flex;
  justify-content: center;
}

.footer__Area02 {
  height: auto;
  width: 15%;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.footer__Area02__logoImg01 {
  background-image: url("../img/logoJoaEzis00.svg");
  height: 60px;
  width: 60px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer__Area02__logoFacebook00 {
  background-image: url("../img/facebook.svg");
  height: 30px;
  width: 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer__Area02__logoTwitter00 {
  background-image: url("../img/twitter.svg");
  height: 30px;
  width: 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer__Area02__logoInstagram00 {
  background-image: url("../img/instagram.svg");
  height: 30px;
  width: 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer__Area02__logoLinkedin00 {
  background-image: url("../img/linkedin.svg");
  height: 30px;
  width: 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
 */



/***RESPONSIVE MEDIA QUERIES*********/

@media screen and (max-width:1400px) {

  .navegacion .menu {
   
    font-size: 1.6em;
  }

}

@media screen and (max-width:1200px) {

  .navegacion .menu {
   
    font-size: 1.4em;
  }

}

@media screen and (max-width:992px) {

  .navegacion .menu {
    
    font-size: 1.2em;
  }

}