/***RESPONSIVE MEDIA QUERIES*********/
/***********************************/

/* @media screen and (max-width:1400px) {

    .navegacion__menu {
     
      font-size: 1.6em;
    }
  
  }
  
  @media screen and (max-width:1200px) {
  
    .navegacion__menu {
     
      font-size: 1.4em;
    }
  
  }
  
  @media screen and (max-width:992px) {
  
    .navegacion__menu {
      
      font-size: 1.2em;
    }
  
  } */