/*Pïe de página*/
/***************/
footer {
    background-color:rgba(32, 34, 34,0.66);
    border-style: solid;
    border-width: 1px;
    margin-top: 10px;
    width: 100%;
    height: 150px;
    justify-content: space-between;
  
    padding: 50px;

    @include flexFil();

    @media screen and (max-width:640px) { 
      height: 300px;
      @include flexColNoWrap();
     }
     
  }

  .footArea00{
    height: auto;
    width: 20%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    @media screen and (max-width:640px) { 
      width: 40%;
     }
    &__h3 {
      color: #29b6f6;
      margin-left: 20px;
      font-size: 2em;
    }
    &__p{
      color: rgb(255, 255, 255);
      margin-left: 20px;
      font-size: 1.2em;
    }
   }

  .footArea01 {
    height: auto;
    width: 50%;
    padding: 5px;
    display: flex;
    justify-content: center;
    @media screen and (max-width:640px) { 
      width: 20%;
     }
    &__logoImg01 {
      background-image: url("../img/logoJoaEzis03.svg");
      height: 90px;
      width: 90px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

  }
  
  .footArea02 {
    height: auto;
    width: 20%;
   margin-right: 20px;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    @media screen and (max-width:640px) { 
      width: 40%;
     }
    &__areaLogo{
      height: 30px;
      width: 30px;
      margin-right: 10px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    &__logoFacebook00 {
      background-image: url("../img/facebook.svg");
     
    }
    &__logoTwitter00 {
      background-image: url("../img/twitter.svg");
     
    }
    &__logoInstagram00 {
      background-image: url("../img/instagram.svg");
     
    }
    &__logoLinkedin00 {
      background-image: url("../img/linkedin.svg");
     
    }


  }
  