/*GRID Configuracion No lo vamos a usar */
/********************/
.padreGrid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  background-color: rgb(250, 254, 254);
  justify-content: center;
  align-content: center;
}
/*************************************/

/*FLEX Configuracion */
/********************/

@mixin flexCol() {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;

}

@mixin flexColNoWrap() {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-wrap:nowrap; 
}


@mixin flexFil() {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: wrap; 

}
.flexColum {
  @include flexCol();
  
  }

  .flexColumNoWrap {
    @include flexColNoWrap();
    
    }

  .flexFila {
    @include flexFil();
    
  }
  .flexFilaNoWrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  
  .flexFila02 {
    display: flex;
    flex-direction: row;
    justify-content:center;
   
  }
/*************************************/

/*Estilos Titulos y Subtitulos*/
/******************************/
h1 {
  color: #29b6f6;
  margin-left: 3em;
}
h2 {
  color: #0a0a0a;
  text-align:left;
  font-size: 2em;
  font-family: "Andada Pro", serif;
  font-family: "Merriweather", serif;
}
h3 {
  color: #29b6f6;
  margin-left: 10px;
  font-size: 2em;
}
h4 {
  color: #2948f6;
  margin-left: 10px;
  text-transform: lowercase;
  font-size: 1.2em;
}